extends ../layout

block navigation
    +breadcrumb('admin', 'berths')

block content
    .page-header= berth.new ? "New Berth" : berth.number + " - " + berth.owner
    if !berth.new
        .field
        h3 Users
        ul.camera-list
            each berthUser in users
                li
                    i.fa.fa-check
                    != berthUser.name

block scripts
    script.
        var berthData = !{JSON.stringify(berth, null, 2)}
    script(src="/javascripts/admin/berth-page.js")
