extends ../layout

block navigation
    +breadcrumb('admin')

block content
    .page-header Berths
    ul
        each berth in berths
            li(id=berth._id)
                a(href="admin/berths/#{berth.number}")= berth.number + " - " + berth.owner
    .page-footer
        a.btn.btn-success(href="admin/berths/new") Create new
