extends ../layout

block navigation
    +breadcrumb('admin')

block content
    .page-header Berths
    ul.camera-list
        each berth in berths
            li(id=berth._id)
                a(href="berths/#{berth.number}")= berth.number + " - " + berth.owner
    .page-footer
        a.btn.btn-success(href="berths/new") Create new
