extends ../layout

block content
    +breadcrumb('admin', 'berths')
    h1 Create new berth
    form
        label Number:
        input(type="text" name="number" placeholder="Nummer")
        .clear
        label Owner:
        input(type="text" name="owner" placeholder="Ejer")
        .clear
        input#berthSubmit.btn.btn-success(type="submit" value="Opret")
        .clear
        .error


block scripts
    script(src="/javascripts/admin/new-berth-page.js")
