extends layout

block content
    h1= title
    object.camera(id="wowza_api" name="wowza_api" data="http://releases.flowplayer.org/swf/flowplayer-3.2.18.swf" type="application/x-shockwave-flash")
        param(name="allowfullscreen", value="true")
        param(name="allowscriptaccess", value="always")
        param(name="quality", value="high")
        param(name="bgcolor", value="#ffffff")
        param(name="flashvars",value="config={'clip':{'autoplay':'true','url':'#{url}','scaling':'fit','provider':'hddn'},'plugins':{'hddn':{'url':'flowplayer.rtmp-3.2.13.swf','netConnectionUrl':'rtmp://r.demo.flowplayer.netdna-cdn.com/play'}},'canvas':{'backgroundGradient':'none'},'playerId':'wowza','playlist':[{'autoplay':'true','url':'#{url}','scaling':'fit','provider':'hddn'}]}")
    div(style="clear: both;")
        p.status
    div(style="clear: both;")
    .camera-control
        i.fa.fa-chevron-up.fa-3x.up(onmousedown="beginMoveCamera('up')")
        i.fa.fa-chevron-left.fa-3x.left(onmousedown="beginMoveCamera('left')")
        i.fa.fa-chevron-right.fa-3x.right(onmousedown="beginMoveCamera('right')")
        i.fa.fa-chevron-down.fa-3x.down(onmousedown="beginMoveCamera('down')")
    div
        center
            button.btn.btn-primary(onmousedown="stopCamera()") Stop
        center
            button.btn.btn-primary(onmousedown="beginMoveCamera('zoomIn')") Zoom ind
        center
            button.btn.btn-primary(onmousedown="beginMoveCamera('zoomOut')") Zoom ud
        