extends layout

block navigation
    +breadcrumb()

block content
    .page-header Cameras
    ul.camera-list
        each camera in cameras
            li(id=camera._id)
                a(href="cameras/#{camera.slug}")
                    .status-indicator
                    = camera.title

block scripts
    script.
        var camerasData =  !{JSON.stringify(cameras, null, 2)}
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/cameras-page.js")
