extends layout

block content
    +breadcrumb()
    h1 Cameras
    ul
        each camera in cameras
            li(id=camera._id)
                .circle
                a(href="cameras/#{camera.slug}")= camera.title

block scripts
    script.
        var camerasData =  !{JSON.stringify(cameras, null, 2)}
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/cameras-page.js")
