extends layout

block content
    h1
        span.circle
        | #{title}
    #player.camera
    div.clearboth
        p.status
        select#berths
        .btn.btn-success.savecamerapos Gem position
        .btn.btn-success.loadcamerapos Hent position
    div.clearboth
    .camera-control
        i.fa.fa-3x.fa-chevron-up.up
        i.fa.fa-3x.fa-chevron-left.left
        i.fa.fa-3x.fa-chevron-right.right
        i.fa.fa-3x.fa-chevron-down.down
    .camera-control
        center
            button.btn.btn-primary.stop Stop
        center
            button.btn.btn-primary.zoom-in Zoom ind
        center
            button.btn.btn-primary.zoom-out Zoom ud
        center
            button.btn.btn-primary.snapshot Snapshot

block stylesheets
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="/javascripts/flowplayer/skin/minimalist.css")

block scripts
    script.
        var uri = "#{camera.uri}";
        var slash = uri.lastIndexOf("/");

        var config = {
            slug: "#{camera.name.toLowerCase()}",
            url: uri.substr(0, slash),
            stream: uri.substr(slash + 1),
            cameraId: "#{camera._id}"
        }
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/flowplayer/flowplayer-3.2.13.min.js")
    script(src="/javascripts/camera.js")
    script(src="/javascripts/camera-page.js")
