include mixins

doctype html
html
  head
    base(href="http://localhost:3000")
    title= title
    script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
    block stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    block content
