mixin breadcrumb(...route)
    - var levelNames = { admin: "Admin", berths: "Berths", cameras: "Cameras" }
    - var path = "";
    a(href="/") BoatCam
    each level in route
        - path += "/" + level
        | &nbsp;>&nbsp;
        a(href=path)= levelNames[level]
