mixin breadcrumb(...route)
    - var levelNames = { admin: "Admin", berths: "Berths", cameras: "Cameras" }
    - var path = "";
    h2
        a(href="/") BoatCam
        each level in route
            - path += "/" + level
            | &nbsp;>&nbsp;
            a(href="#{path}") #{levelNames[level]}