mixin breadcrumb(...route)
    - var levelNames = { admin: "Admin", berths: "Berths", cameras: "Cameras", profile: "Profile" }
    - var path = "";
    ul
        li
            a(href="/") BoatCam
        each level in route
            - path += "/" + level
            | &nbsp;>&nbsp;
            li
                a(href=path)= levelNames[level]
    ul.pull-right
        li
            a(href="/profile")= user && user.username
        li
            a(href="/logout") Log out
