@import "mixins";
@import "base";
@import "buttons";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

i:hover { 
    color: red;
}

.camera {
    // margin:0 auto;
    // background-color: gray;
    display:block;
    // Format is 16:9
    width: 800px; //512px;  // 520px
    height: 450px; //288px; // 330px
}

@circle-size: 24px;

.circle {
    display: inline-block;
    width: @circle-size;
    height: @circle-size;
    border-radius: @circle-size / 2;
    background-color: lightgray;
}

.camera-control {
    width: 100px;
    height: 100px;
    position: relative;
    
    .up, .left, .right, .down {
        height: 39px;
        width: 39px;
        position: absolute;
        text-align: center;
        line-height: 40px;
    }
    
    .up, .down {
        margin-left:auto;
        margin-right:auto;
        left:0px;
        right:0px;
    }
    
    .left, .right {
        margin-top:auto;
        margin-bottom:auto;
        top: 0px;
        bottom:0px;
    }
    
    .up {
        top: 0px;
    }
    
    .down {
        bottom: 0px;
    }
    
    .left {
        left: 0px;
    }
    
    .right {
        right:0px;
    }
}